*{
    padding: 0px ;
    margin: 0px;
    

}

body {
	background-color: #f5f5f5;
	color: #333;
	background-image: url('login_background.jpg');
    background-repeat: no-repeat;
	background-size:100% 200%;

	
}

.resume-builder {
	padding: 50px 0;
	
}

.container {

	width: auto;
	height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
	color: #000000;
	text-align: center;
	border-bottom: 2px solid #007bff;
	padding-bottom: 10px;
	margin-bottom: 25px;
	
}
h2{
	color: #6d6a7a;
	text-align: center;

	font-size: 50px;
	padding-bottom: 10px;
	
}

h4{
	margin-top: 50px;
}

.form-label {
	color: #007bff;
}

.form-control {
	background-color: #eee;
	color: #333;
	border: 1px solid #ccc;
	margin-bottom: 15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #007bff;
	color: #fff;
	border: 1px solid #0056b3;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #fff;
}

.btn-primary {
	background-color: #007bff;
	border-color: #007bff;
	border: 1px solid #0056b3;
}

.btn-primary:hover {
	background-color: #0056b3;
	
	border: 1px solid #004080;
}
.heading{
	margin-bottom: 265px;
}
a.button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #007bff;
	border-radius: 10px;
  }
  
