:root{
    --bgcolor:#beb8ac;
    --blue:#2fb7fe;
    --black:#3D3F42;
    --white:#f4f7ff;
    --gray:#d8dce4;
    --lightgray:#8e9095;
    --lightblack:#2a2d2d;
}
*{
    padding: 0px ;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;

}
body{
    background-color: var(--bgcolor);
}
.clearfix{
    clear: both;
}
.resume-box{
    width: 800px;
    height: 1000px;
    margin: 100px auto;
    background: var(--white);
    box-shadow: 5px 21px 20px 20px #3d3f4238;
}
.left-section{
    background: var(--black);
    width: 256px;
    height: 1000px;
    float: left;
}
.profile{
    overflow: hidden;
    position: relative;

}
.blue-box{
    width: 257px;
    height: 407px;
    background: var(--blue);
    margin-left:-100px ;
    transform: rotateZ(48deg);
    margin-top:-178px;
}
.profile-img{
    position: absolute;
    z-index: 9;
    width: 120px;
    height: 120px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 60%;
    border: 3px solid var(--gray);
}
.name{
    color: var(--gray);
    text-align: center;
    margin-top: -34px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}
.name span{
    color: var(--blue);
}
.n-p{
    width: 180px;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    color: var(--gray);
    margin-top: 11px;
    text-transform: uppercase;

}
.info{
    margin-top: 45px;
    color: var(--gray);
  

}

.heading{
    width: 180px;
    margin: 0 auto;
    
    padding: 2px;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    color: var(--gray);
    margin-top: 11px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;

}

.info ul{
    position: relative;
}
.info ul li{
    display: inline-flex;
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    padding-left: 2px;
    padding-top: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 100%;
   
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; 
    word-wrap: break-word;

}
.info ul li .icon{
   
    width: 60px;
    font-size: 15px;
    font-weight: bold;
    color: var(--gray);
    padding-left: 30px;
    
}

.info ul li .icon i{
    background: var(--white);
    
    padding: 6px;
    border-radius: 50%;
  
   
    margin-top: 0px;
    margin-right: 5px;
    color: var(--black);
}
.info ul li span{
    
    font-weight: 300;
    
}
.ml-1{
    margin-left: 2px;
}
h5{
    display: block;
    font-size: 0.83em;
    
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.social{
    padding-top: 10px;
}
.right-heading{
    padding: 40px 30px;
    background: var(--white);
    width: 68%;
    float: left;
    height: 1000px;
}
.about i{
    background: var(--black);
    width: 36px;
    padding: 9px;
    border-radius: 30px;
    float: left;
    display: inline;
    margin-top: -6px;
    color: var(--white);
    
}
.p2{
    margin: 0 auto;
    padding: 2px;
    border-bottom: 1px solid var(--lightgray);
    border-top: 1px solid var(--lightgray) ;
    color: var(--black);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 50px;
    line-height: 18px;
}
.p3{
    margin-top: 20px;
    color: var(--lightblack);
    text-align: justify;
    word-spacing: -4px;
    padding-left: 50px;
}
.left{
    width: 25%;
    float: left;
}
.right{
    width: 75%;
    float: left;
}
.lr-box{
    margin-top: 20px;
    margin-bottom: 20px;
}
.p4{
    font-size: 14px;
    font-weight: 600;
    padding-left: 50px;

}
.p5{
    font-size: 12px;
    color: var(--lightblack);
    padding-left: 50px;
}
.p6{
    font-size: 12px;
    color: var(--lightblack);
    padding-left: 50px;
}
.p7{
    font-size: 12px;
    color: var(--lightblack);
    padding-left: 50px;

}
.s-box{
    width: 50%;
    float: left;
    padding: 20px 20px 20px 0px;
}